.post-card {
  max-width: 600px;
  border: 1px solid #d8dcdcf1;
  border-radius: 10px;
  padding: 15px;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(118, 115, 115, 0.699);
}

.user-information {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.profile-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
}

.user-details {
  display: flex;
  gap: 10px;
}

.user-name {
  font-weight: bold;
}

.handle {
  color: #657786;
}

.post-content {
  margin: 0px 0px 10px 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-image,
.post-video {
  width: 90%;
  border-radius: 10px;
}

.post-actions {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  margin-top: 16px;
}

.post-actions span {
  display: flex;
  gap: 3px;
  cursor: pointer;
}

.like:hover {
  color: red;
}

.ruler {
  width: 85%;
  margin: 0px auto;
  border-top: 1px solid rgba(177, 174, 174, 0.904);
}
